<%- include ('includes/header.ejs'); %>
		<div class="main_div">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-8 post_details">
						<div class="post_details_box">
				 			<% postdata.forEach(function(data, index) { %>
							<h2><%= data.post_title %></h2><br>
							<p><div class="author_image"><img class="author_thumbnail" src="/images/uploads/author_images/<%= data.author_image %>"></div><span><%= data.author_firstname + data.author_lastname %></span><span class="last_update">Last updated on <%= data.date_updated.toLocaleDateString() %></span></p><br>
							<div class="post_details_image">
								<img src="/images/uploads/post_images/<%= data.post_image %>" class="image_post_details">
							</div><br><br>
							<div class ="post_details_text">
								<p><%- data.post_text %></p>
							
					   		</div>
							<br><br><div id="about_author"><h3>About the author</h3><div id="about_author_image"><img class="author_thumbnail" src="/images/uploads/author_images/<%= data.author_image%> "></div><div id="about_author_info"><p><%= data.author_firstname + data.author_lastname %></p><p><%= data.author_bio %></p></div></div><br><br>
							<% }); %>
						</div>
						<div class="container-fluid same_author_posts">
						<h3>Posts By The Same Author</h3>
						<div class="row same_author_box"></div><br>
						</div><br><br>
				 		<div class="comments">
							<h2>Comments</h2>
							<div id="no_of_comments"></div>
							<!--<div class="comment_details"><div class="_comment comment_avatar"><img src="images/author/avatar_001.jpeg" class="author_thumbnail" ></div><div class="_comment comment_spans"><span class="_name">name</span><span class="_created">created</span></div></div><div class="comment_msg">comment</div>-->

						</div>
						<div class="comment_div">
							<h2>Leave a Comment</h2>
							<span class="no_comments">0 Comment(s)</span>
							<form id="comment_form" action="">
								<input type="text" name="postid" id="postid" value="<%= p_id %>"></input><br>
								<label>Name</label><br><input type="text" name="comment_name" id="name"></input><br><br>
								<label>Email (Required but never shown)</label><br><input type="text" name="comment_email" id="email"></input><br><br>
								<label>Comment</label><br><textarea name="comment_msg" id="message"></textarea><br><br>
								<input type="submit" name="submit" text="submit" /><br>
								<div id="feedback"></div>
		       						<!--<button type="button" id="submit_comment_btn">Send</button><br>-->
						 		
							</form>
						</div><br><br>
					</div>
					<div class="col-sm-3">
						<%- include ('includes/section.ejs'); %>
					</div>
				</div>
			</div>
		</div><br><br>
		<footer>
			<%- include (
'includes/footer.ejs'); %>
		</footer>
		<script>
			$('#comment_form').on('submit', function(e) {
				var dataString = $(this).serialize();
				$.ajax({
					type: "POST",
					url: '/submit_comment',
					data: dataString,
					success: function(response) {
						alert(response);
						$('#feedback').append('<p>Comments added successfully</p>');
					},
				});
				e.preventDefault();
			});
		</script>
		<script>
			$(document).ready(function() {
				$.ajax({
					url: '/fetch_comments/'+<%= p_id %>,
					type: 'GET',
					success: function(response) {
						$('#no_of_comments').append('<span class="comments_number">'+response.length+'</span><span>Comment(s)</span>');
						response.forEach(function(comment) {
							//$('.comments').append('<p>'+comment.comment_body+'</p>');
							$('.comments').append('<div class="comment_details"><div class="_comment comment_avatar"><img src="/images/uploads/author_images/avatar_001.jpeg" class="author_thumbnail" ></div><div class="_comment comment_spans"><span class="_name">'+comment.comment_name +'</span><span class="_created">'+comment.date_created+'</span></div><div style="clear:both"></div><div class="comment_msg">'+comment.comment_body+'</div>');
							//$('.comment_msg').append('<p>'+comment.comment_body+'</p>');
						});
					},
					error: function(error) {
						console.log('Error', error);
					}
				});
			});
		</script>
		<script>
			$(document).ready(function() {
			//		$("#same_btn").click(function() {
				$.ajax({
					url: '/fetch_posts/'+ <%= auth_id %>,
					data: <%= auth_id %>,
					type: "GET",
					success: function(response) {
						response.forEach(function (item) {
							const imgUrl = '/images/uploads/post_images/'+item.post_image;
							const imageTag = `<img src="${imgUrl}" class="other_post_images">`
							const aUrl = "/pages/" + item.post_id + "/" + item.author_id;
							const aTag = `<a href="${aUrl}">`;
							const h3Tag = '<h3>'+aTag;
							$('.same_author_box').append('<div class ="col-sm-6 same_author_bo">' + imageTag + h3Tag + item.post_title + '</a></h3><p>' + item.post_intro + '</p>' + aTag + 'Read more</div>');
						});
						//}
					},
					error: function(error) {
							console.error('Error:', error);
					}
				});
			});
		</script>
	</body>
</html>
